<div class="footer-body">
  <div class="socials">
    <a href="https://www.facebook.com/tim.vandersteen.10"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="https://www.instagram.com/timvandersteen/"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="https://twitter.com/Tim_vanderSteen"><fa-icon [icon]="faTwitter"></fa-icon></a>
  </div>

  <nav>
    <ul class="list">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="/partners">PARTNERS</a></li>
      <li><a routerLink="/schedule">SCHEDULE</a></li>
      <li><a routerLink="/SPONSORING">SPONSORING</a></li>
      <li><a routerLink="/team">TEAM</a></li>
    </ul>
  </nav>

  <p class="copyright">
    Tim van der Steen @ 2023
  </p>
</div>
