.partner{
  width: 300px;
  height: 150px;
  display: flex;
  position: relative;

  .button-box{
    position: absolute;
    top: 10px;
    right: 10px;

    fa-icon{
      color: #4b4c4d;
      font-size: 26px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  img{
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}


@media(max-width: 825px) {
  .team-content{
    width: 95%;
  }

}
