@import "../../../../styles/standard_page";

.about{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../../../../assets/Images/ronaldmishit.jpg');
  background-position: center;
  background-size: cover;
  display: flex;

  //standard_page styles...
}

.highlights-container{
  min-height: 400px;
  background-color: #ececec;
  border-bottom: 0.5px solid lightgrey;

  .highlights{
    width: 70%;
    margin: auto auto auto auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    .nav{
      font-family: "Lato", sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      ul li {
        list-style: none;
        display: inline-block;
        margin: 6px 10px;
        letter-spacing: 1.2px;
        line-height: 1.4em;
        background-color: RGBA(255,255,255,0);
        font-weight: 600;
        cursor: pointer;

        a{
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          font-weight: 600;
          font-size: 14px;

          &.active{
            border-bottom: 2px solid black;
            padding-bottom: 5px;
          }
        }
      }
    }

    .tab{
      text-align: center;
      padding-top: 40px;
      font-size: 46px;
      font-family: "Old Standard TT",Georgia,Times New Roman,serif;

      .results{
        padding-top: 10px;
        font-family: "Montserrat","Helvetica","Arial","Lucida",sans-serif;
        font-weight: 700;
        line-height: 2em;
        font-size: 14px;
      }
    }
  }
}

.footer{
  background-color: #ececec;
}
