<div class="coach" [style.background-image]="'linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(' + coach.image + ')'">
  <div class="icons">
    <a href="{{coach.fbLink}}"><div class="icon-place"><fa-icon [icon]="faFacebook"></fa-icon></div></a>
    <a href="{{coach.instaLink}}"><div class="icon-place"><fa-icon [icon]="faInstagram"></fa-icon></div></a>
    <a href="{{coach.twitterLink}}"><div class="icon-place"><fa-icon [icon]="faTwitter"></fa-icon></div></a>
  </div>
</div>

<h3>{{coach.name}}</h3>
<h5>{{coach.typeOfCoach}}</h5>
