<div class="home tim">

  <div class="content">
    <div class="row">
      <div class="column text">
        <h1>Tim van der Steen</h1>
        <p>Tim is geboren op 27 maart 2002 te Den Haag en woont in Voorschoten. Toen hij 9 jaar oud was begon hij met golf en
          wilde al snel niks anders meer! Het plezier in het spelletje bleef en de ontwikkeling ging snel. Het ‘spelen’
          op de golfbaan werd steeds serieuzer en er ontstond een échte passie, ondanks zijn jonge leeftijd! Sindsdien heeft
          Tim ook alle selecties van de Nederlandse Golf Federatie (NGF) doorlopen van C-selectie tot (jong)oranje. Als vaste
          waarde van de NGF-selectie teams heeft hij niet onverdienstelijk vele kampioenschappen gespeeld met mooie resultaten;
          Winnaar NK12, T2 NK15, T3 NK18, Winnaar Kennemer Open, T6 NK Heren en
          tweemaal Nationaal Foursome Kampioen. Tevens heeft Tim ook verschillende mooie internationale resultaten behaald.</p>
      </div>
      <div class="column">
        <div class="cards-holder">
          <a routerLink="about">
            <div class="card about">
              <h5>About</h5>
            </div>
          </a>
          <a routerLink="partners">
            <div class="card partners">
              <h5>Partners</h5>
            </div>
          </a>
          <a routerLink="schedule">
            <div class="card schedule">
              <h5>Schedule</h5>
            </div>
          </a>
          <a routerLink="team">
            <div class="card team">
              <h5>Team</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="cards-container">
  <div class="card-list">
    <a routerLink="about">
      <div class="card about">
        <h5>About</h5>
      </div>
    </a>
    <a routerLink="partners">
      <div class="card partners">
        <h5>Partners</h5>
      </div>
    </a>
    <a routerLink="schedule">
      <div class="card schedule">
        <h5>Schedule</h5>
      </div>
    </a>
    <a routerLink="team">
      <div class="card team">
        <h5>Team</h5>
      </div>
    </a>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
